/* Styles for the body and header */
body {
  background-color: #003049; /* Deep blue background */
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d62828; /* Light Green header */
  color: #fff; /* White text color */
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 36px;
  font-family: 'Old English Text MT', serif;
}

p {
  font-size: 20px;
}

/* Center the tab buttons in the middle of the page */
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set a minimum height to center vertically */
}

/* Styles for the main content */
.main-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.article {
  margin: 20px 0;
  border: 2px solid #fcbf49; /* Light coral border */
  padding: 20px;
  background-color: #fff;
}

h2 {
  font-size: 24px;
  border-bottom: 2px solid #fcbf49; /* Light coral border */
  margin-bottom: 10px;
  font-family: 'Old English Text MT', serif;
}

/* Styles for the tab buttons */
.tab-button {
  background-color: #d62828; /* Light Green background color */
  color: #fff; /* White text color */
  font-size: 20px;
  font-family: 'Old English Text MT', serif;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #003049; /* Dark blue background on hover */
}

/* Restyle the active tab button */
.tab-button.active {
  background-color: #003049; /* Dark blue background for the active tab */
}

/* Additional styling for the image */
.center-text img {
  border: 2px solid #fcbf49; /* Light coral border for the image */
  border-radius: 5px;
}

